<div class="container">
  <div class="row header-row justify-content-center">
    <%= image_tag("hamburger.png", class:"hamburger") %>
    <div class="title">
      <span class="title-food">Food</span><span class="title-nearby">Nearby</span>
    </div>
  </div>

  <!-- Search form -->
  <div class="text-center form-css">
    <%= form_tag '/search' do %>
      <%= text_field_tag :query, nil, class: "search-bar", placeholder: "City or Zipcode" %>
      <%= submit_tag "Search", class: "search-button" %>
    <% end %>
  </div>

  <div>
    <% if @error %>
      <p><%= @error %></p>
    <% elsif @venues %>
      <ul>
      <% @venues.each do |venue| %>
        <li>
          <%= venue["name"] %><br>
          <%= venue["location"]["address"] %>, <%= venue["location"]["city"] %>, <%= venue["location"]["state"] %>, <%= venue["location"]["postalCode"] %> <br>
          <% venue["categories"].each do |venue_category| %>
            <%= venue_category["name"] %>
          <% end %>
          <br>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>



</div>
